<%-include('partials/header')%>

<div class="container rounded shadow-lg">
    <h1>Log into the site</h1>
    <div class="flex gap-1 mb-10">
        <p>or</p> <p><a href="/registration" class="underline">Create account</a></p>
    </div>
    <form class="input-container login">
        <input type="text" name="username" placeholder="Username">
        <label for="username" class="username error"></label>
        <input type="password" name="password" placeholder="Password">
        <label for="password" class="password error"></label>
        <button>Log In</button>
        <div>
            made by kenwu @ 2022
        </div>
    </form>
</div>
<script type="text/javascript" src="script/login.js"></script>
<%-include('partials/footer')%>