<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/style.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="container rounded shadow-lg">
        <img src="./src/img/minah2.jpg" alt="minah">
        <h1 style='margin-bottom: 0;'>Minah</h1>
        <div class="links mb-10">
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
        </div>

        <div class="info flex gap-10">
            <div class="flex flex-col justify-center items-center">
                <h1 style="font-size:1.5rem">Activities</h1>
                <label for="activities-count">245</label>
            </div>
            <div class="flex flex-col justify-center items-center">
                <h1 style="font-size:1.5rem">Followers</h1>
                <label for="followers-count">2,405</label>
            </div>
        </div>

        <a href="#" class="logout">Log out</a>
    </div>

    <footer>
    </footer>
</body>
</html>