<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/style.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="container rounded shadow-lg">
        <h1>Register an account</h1>
        <div class="flex gap-1 mb-10">
            <p>Have an account? </p> <p><a href="#" class="underline">Login here</a></p>
        </div>
        <div class="input-container">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button>Log In</button>
            <div>
                made by kenwu @ 2022
            </div>
        </div>
    </div>

    <footer>
    </footer>
</body>
</html>